* {
  font-family: Arial;
  transition: all .25s;
}

body, html{
  height:100%;
}
body{
  margin: 0px;
  font-size: 18px;

  width: 100vw;
  height: 100vh;
  background-image: url('assets/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
/* body, a:link, a:visited, a:active{
  color: lightblue;
} */

.title, .addDancerButton{
  padding:5px 12px;
  float:right;
  color: #fff;
}

header {
  position: relative;
  display: block;
  height: auto;
  margin-top: 20px; 
  margin-right: 30px;
  height: auto;
}

nav {
  position: relative;
  display: table;
  width: 100%;
  height:32px;
  clear: both;
}

nav a:nth-child(even){
  margin: 0 10px;
}

.dancer{
  border:10px solid #ffd32a;
  border-radius:10px;
  position:absolute;
}

.dancefloor {
  position: relative;
  height: 100%;
}

a {
  text-decoration: none;
}

.getLow, .cops {
  position: relative;
  padding:5px 12px;
  color: #fff;
  float: right;
}


/* Police Officer */

.policeofficer {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  animation: changeColor .25s linear infinite;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

@keyframes changeColor {
  0% {
    background-color: red;
  }
  50% {
    background-color: blue;
  }
  100% {
    background-color: red;
  }
}


/******  Blinky Dancer *******/

.blinkyDancer {
  color: #ffd32a;
}

.blinkyDancer:hover {
  color: #ffdd59;
  transform: scale(1.25);
  opacity: 0.35;

}
/******  Party Animal Dancer *******/

.partyAnimalBtn {
  color: #2ed573;
}

.partyAnimalBtn:hover {
  color: #7bed9f;
  transform: scale(1.25) rotate(360deg);
}

.partyanimal {
  width: 0px;
  height: 0px;
  border-radius: none;
  border-top: 20px solid #2ed573;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  position: absolute;
  animation: spin .5s linear infinite;
}

@keyframes spin {
  100% { -webkit-transform: rotate(360deg);
  } 
}


/******  Square Dancer *******/

.squareDancerBtn {
  color: #D980FA;
}

.squareDancerBtn:hover {
  color: #FDA7DF;
  transform: scale(1.25) skew(-40deg);
}
.squaredancer {
  border-radius: 10%;
  border: 20px solid #D980FA;
  animation: moveInASquare 1s linear infinite;
}

@keyframes moveInASquare{
  0% {
    transform: scale(1)
  }
  50% {
    transform: scale(2);
  }

  100% {
    transform: scale(1);
  }
}
